<li class="nav-item has-treeview menu-open">
<a href="#" class="nav-link active">
  <i class="nav-icon fas fa-tachometer-alt"></i>
  <p>
    Menular bo'limi
    <i class="right fas fa-angle-left"></i>
  </p>
</a>
<ul class="nav nav-treeview">

  <li class="nav-item">
    <a href="#" class="nav-link">
      <i class="far fa-circle nav-icon"></i>
      <p>Mashinalar</p>
    </a>
  </li>
  <li class="nav-item">
    <a href="#" class="nav-link">
      <i class="far fa-circle nav-icon"></i>
      <p>Categoriyalar</p>
    </a>
  </li>
  <li class="nav-item">
    <a href="{% url 'profile' %}" class="nav-link {{ profile_active }}">
      <i class="far fa-user nav-icon"></i>
      <p>Profil</p>
    </a>
  </li>
</ul>
</li>