{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}


{% block title %} Cars {% endblock %}
{% block page_title %} Avtomobillar {% endblock  %}
{% block pagetitle %} Cars {% endblock  %}

{% block content %}


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
              <h3 class="card-title">Mashinalar Ro'yxati</h3>
              <a href="{% url 'cars-add' status='add' %}" class="btn btn-info float-right">Add</a>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>№</th>
                  <th>Nomi</th>
                  <th>Brand</th>
                  <th>Categoriya</th>
                  <th>Davlat raqami</th>
                  <th>Xususiyatlari</th>
                  <th>Narxi</th>
                  <th>Holati</th>
                  <th>Yili</th>
                  <th>Rasmi</th>
                  <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for i in roots %}
                    <tr>
                      <td>{{ forloop.counter }}</td>
                      <td>{{ i.name }}</td>
                      <td>{{ i.brand }}</td>
                      <td>{{ i.ctg }}</td>
                      <td>{{ i.raqam }}</td>
                      <td>{{ i.xk }}</td>
                      <td>{{ i.price }}</td>
                      <td>{{ i.status }}</td>
                      <td>{{ i.yili }}</td>
                      <td><a href="{{ i.img.url }}" target="_blank"><img src="{{ i.img.url }}" width="150px"></a></td>
                      <td>
                          <a href="" class="btn btn-info">
                              <i class="fas fa-info"></i>
                          </a>
                          <a href="{% url 'cars-edit' status='form' pk=i.id %}" class="btn btn-info m-2" >
                              <i class="fas fa-pen"></i>
                          </a>
                      </td>
                    </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
        {% if status == 'form' or status == 'add' %}
        <div class="card">
            <div class="card-header">
              <h3 class="card-title">Tezkor Forma</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <form method="post" class="form-group col-md-12" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-item">
                        {% bootstrap_field form.name %}
                    </div>
                    <div class="form-group">
                        {% bootstrap_field form.brand %}
                    </div>
                    <div class="form-group">
                        {% bootstrap_field form.ctg %}
                    </div>
                    <div class="form-group">
                        {% bootstrap_field form.raqam %}
                    </div>
                    <div class="form-group">
                        {% bootstrap_field form.xk %}
                    </div>
                    <div class="form-group">
                        {% bootstrap_field form.price %}
                    </div>
                    <div class="form-group">
                        {% bootstrap_field form.status %}
                    </div>
                    <div class="form-group">
                        {% bootstrap_field form.yili %}
                    </div>
                    <div class="form-group">
                        {% bootstrap_field form.img %}
                    </div>
                    <button type="submit" class="btn btn-success"> Saqlash</button>
                    <a href="{% url 'cars' %}" class="btn btn-secondary"> Bekor qilish</a>

                </form>


            </div>



            <!-- /.card-body -->
          </div>
          {% endif %}


    </div>
</div>






{% endblock %}