{% extends 'base.html' %}
{% block title %}Profile{% endblock %}
{% block page_title %}Profile{% endblock %}
{% block pagetitle %}Profile{% endblock %}

{% load static %}
{% block user %}

    <div class="row">
          <div class="col-md-3">

            <!-- Profile Image -->
            <div class="card card-primary card-outline">
              <div class="card-body box-profile">
                <div class="text-center">
                  <img class="profile-user-img img-fluid img-circle"
                       src="{% static 'ddist/img/user1-128x128.jpg' %}"
                       alt="User profile picture">
                </div>

                <h3 class="profile-username text-center">{{ user.fio }}</h3>

                <p class="text-muted text-center">{{ user.username }}</p>

                <ul class="list-group list-group-unbordered mb-3">
                  <li class="list-group-item">
                    <b>Guvohnoma Yili</b> <a class="float-right">{{ user.g_year }}</a>
                  </li>
                  <li class="list-group-item">
                    <b>Guvohnoma Seria Raqami</b> <a class="float-right">{{ user.g_seria }}</a>
                  </li>
                  <li class="list-group-item">
                    <b>Guvohnoma Toifasi</b> <a class="float-right">{{ user.g_ctg }}</a>
                  </li>
                </ul>

              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

            <!-- About Me Box -->

            <!-- /.card -->
          </div>
          <!-- /.col -->
          <div class="col-md-9">
            <div class="card">
              <div class="card-header p-2">
                <ul class="nav nav-pills">
                  <li class="nav-item"><a class="nav-link " href="#form" data-toggle="tab">Form</a></li>
                  <li class="nav-item"><a class="nav-link active" href="#card" data-toggle="tab">Card</a></li>
                </ul>
              </div><!-- /.card-header -->
              <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane " id="form">
                    <form class="form-horizontal">
                      <div class="form-group row">
                        <label for="inputName" class="col-sm-2 col-form-label">Name</label>
                        <div class="col-sm-10">
                          <input type="email" class="form-control" id="inputName" placeholder="Name">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-10">
                          <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="inputName2" class="col-sm-2 col-form-label">Name</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="inputName2" placeholder="Name">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="inputExperience" class="col-sm-2 col-form-label">Experience</label>
                        <div class="col-sm-10">
                          <textarea class="form-control" id="inputExperience" placeholder="Experience"></textarea>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="inputSkills" class="col-sm-2 col-form-label">Skills</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="inputSkills" placeholder="Skills">
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="offset-sm-2 col-sm-10">
                          <div class="checkbox">
                            <label>
                              <input type="checkbox"> I agree to the <a href="#">terms and conditions</a>
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="offset-sm-2 col-sm-10">
                          <button type="submit" class="btn btn-danger">Submit</button>
                        </div>
                      </div>
                    </form>
                  </div>
                  <!-- /.tab-pane -->
                  <div class="tab-pane active " id="card">
                    <!-- The timeline -->
                      <div class="card-body">
                      <div class="row">
                        <div class="col-sm-5">
                          {% if card %}
                          <div class="position-relative p-3 bg-gray" style="height: 180px">
                            <h3>{{ card.name }} <i class="fas fa-credit-card"></i></h3>
                            <h4>{{ card.owner.fio }}</h4> <br>
                            <p>
                              <span id="card_number">{{ card.mask }}
                                <i class="fa fa-eye" onclick="show_number()">
                                </i>
                              </span>

                              <span class="float-right">Balance: <mark>{{ card.balance }}</mark> UZS</span></p>
                          </div>
                          {% else %}
                          <div class="position-relative p-3 bg-gray" style="height: 180px">
                            Sizda Hozircha Karta yo'q admin bn bog'laning
                            <hr>
                          </div>
                          {% endif %}
                        </div>
                      </div>
                    </div>
                    <hr>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

<script>
    var number = '{{ card.number }}'
    var mask = '{{ card.mask }}'
    console.log(number)
    function show_number(){
      document.getElementById('card_number').innerHTML =  `
                        <span id="card_number_to_hide">${number}
                              <i class="fa fa-eye-slash" onclick="hide_number()">
                              </i>
                        </span>
      `;
    }
    function hide_number(){
      document.getElementById('card_number_to_hide').innerHTML = `
                        <span id="card_number">${mask}
                              <i class="fa fa-eye" onclick="show_number()">
                              </i>
                        </span>
      `;
    };
</script>

{% endblock %}