<section class="content">
  <div class="error-page">
    <h2 class="headline text-warning"> 404</h2>

    <div class="error-content">
      <h3><i class="fas fa-exclamation-triangle text-warning"></i> OOPS. Qandaydir Xatolik</h3>

      <p>
        Ushbu sahifa Topilmadi Yoki BU sahifaga kirish uchun sizda ruxsat yo'q
      </p>

      <a href="" onclick="history.back(-1)" class="btn btn-primary"> <i class="fas fa-arrow-left"></i> Go Back </a>

      <a href="{% url 'home' %}" class="btn btn-primary"><i class="fas fa-home"></i> Home </a>

    </div>
    <!-- /.error-content -->
  </div>
  <!-- /.error-page -->
</section>